:root,
::before,
::after {
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;

  --color-primary: #ff0000;
  --color-on-primary: #ffffff;
  --color-neutral-primary: #000000;
  --color-primary-interaction: #7a0707;

  --color-secondary: #00ff00;
  --color-on-secondary: #000000;
  --color-neutral-secondary: #cccccc;
  --color-secondary-interaction: #009900;

  --ds-border-radius: 0.25rem;
}
