[data-theme-hsd] {
  /* Sizes */
  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-4: 0.5rem;
  --space-6: 0.75rem;
  --space-8: 1rem;
  --space-10: 1.25rem;
  --space-12: 1.5rem;
  --space-16: 2rem;
  --space-20: 2.5rem;
  --space-24: 3rem;
  --space-32: 4rem;

  /* Size Factors */
  --size-factor-small: 0.75;
  --size-factor-medium: 1.25;
  --size-factor-large: 1.5;

  /* Interaction States */
  --interaction-state-hover: 1.2;
  --interaction-state-active: 1.4;

  /* Color Palette */
  --hsd-red-1: hsla(350, 100%, 85%, 1);
  --hsd-red-2: hsla(350, 100%, 65%, 1);
  --hsd-red-3: hsla(350, 100%, 45%, 1);
  --hsd-red-4: hsla(350, 100%, 20%, 1);
  --hsd-red-5: hsla(350, 100%, 0%, 1);

  --hsd-black: hsla(0, 0%, 4%, 1);
  --hsd-gray-1: hsla(0, 0%, 20%, 1);
  --hsd-gray-2: hsla(0, 0%, 30%, 1);
  --hsd-gray-3: hsla(0, 0%, 40%, 1);
  --hsd-gray-4: hsla(0, 0%, 50%, 1);
  --hsd-gray-5: hsla(0, 0%, 60%, 1);
  --hsd-gray-6: hsla(0, 0%, 70%, 1);
  --hsd-gray-7: hsla(0, 0%, 80%, 1);
  --hsd-white: hsla(0, 0%, 96%, 1);

  /* Color */
  --color-primary: var(--hsd-red-3);
  --color-on-primary: var(--hsd-white);
  --color-primary-container: var(--hsd-red-2);
  --color-primary-on-container: var(--hsd-black);

  --color-disabled: var(--hsd-gray-6);
  --color-on-disabled: var(--hsd-gray-3);
  --color-disabled-container: var(--hsd-gray-5);
  --color-disabled-on-container: var(--hsd-gray-3);

  --color-read-only: var(--hsd-gray-7);
  --color-on-read-only: var(--hsd-gray-3);
  --color-read-only-container: var(--hsd-gray-7);
  --color-read-only-on-container: var(--hsd-gray-3);

  --color-black: var(--hsd-black);
  --color-white: var(--hsd-white);

  /* Other */
  --ds-border-radius: var(--space-2);

  --ds-default-font: "HSD Sans", sans-serif;
  --ds-default-font-size: 1rem;
  --ds-default-line-height: 1.5rem;
}
